src/main/resources/xsd/FIRAPTTimeline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:us:gov:dot:faa:atm:tfm:rapttimeline" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:gov:dot:faa:atm:tfm:rapttimeline" version="2.0" elementFormDefault="qualified">
    <xsd:complexType name="raptDataType">
        <xsd:annotation>
            <xsd:documentation>This type defines the RAPT timeline data for a particular RAPT metroplex</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RAPTData">
                <xsd:annotation>
                    <xsd:documentation>RAPT timeline data for a particular RAPT metroplex</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Metroplex" nillable="false">
                            <xsd:annotation>
                                <xsd:documentation>The RAPT Metroplex 3 character short name</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:length value="3"/>
                                    <xsd:pattern value="[A-Z0-9]{3}"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CIWSProductTime" type="xsd:dateTime" nillable="false">
                            <xsd:annotation>
                                <xsd:documentation>CIWS weather product Date/Time stamp</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:choice>
                            <xsd:sequence maxOccurs="unbounded">
                                <xsd:element name="RAPTTimelineData">
                                    <xsd:annotation>
                                        <xsd:documentation>RAPT timeline data for TSD display</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="RouteName" nillable="false">
                                                <xsd:annotation>
                                                    <xsd:documentation>RAPT route name</xsd:documentation>
                                                </xsd:annotation>
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:minLength value="1"/>
                                                        <xsd:maxLength value="31"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="RouteTrend" type="TrendType" nillable="false">
                                                <xsd:annotation>
                                                    <xsd:documentation>Route blockage trend, one of: INCOMPLETE, STABLE, IMPROVE, DECLINE, NONE</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="PIGTimer" type="PIGTimerType" nillable="true">
                                                <xsd:annotation>
                                                    <xsd:documentation>PIG timer value in minutes</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:sequence minOccurs="7" maxOccurs="unbounded">
                                                <xsd:element name="RAPTBlockageData" nillable="false">
                                                    <xsd:annotation>
                                                        <xsd:documentation>RAPT route blockage indicator data</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:complexType>
                                                        <xsd:all>
                                                            <xsd:element name="SequenceNumber" nillable="false">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>TSD display sequence number for this blockage data</xsd:documentation>
                                                                </xsd:annotation>
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:integer">
                                                                        <xsd:minInclusive value="0"/>
                                                                        <xsd:maxInclusive value="99"/>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="DepartureTime" nillable="false">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>Departure time for which this blockage data is valid</xsd:documentation>
                                                                </xsd:annotation>
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:string">
                                                                        <xsd:length value="5"/>
                                                                        <xsd:pattern value="(([0-1][0-9])|([2][0-3])):[0-5]([0]|[5])"/>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="BlockageStatus" type="ColorType" nillable="false">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>TSD route blockage display color, one of: INVALID, LIGHT_GREEN, DARK_GREEN, YELLOW, RED</xsd:documentation>
                                                                </xsd:annotation>
                                                            </xsd:element>
                                                            <xsd:element name="BlockagePhase" type="BlockagePhaseType" nillable="false">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>Blockage phase value, one of: CLIMB, TRANSITION, NEAR, ENROUTE</xsd:documentation>
                                                                </xsd:annotation>
                                                            </xsd:element>
                                                            <xsd:element name="EchoTop" type="xsd:unsignedByte">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>Echo top value in thousands of feet</xsd:documentation>
                                                                </xsd:annotation>
                                                            </xsd:element>
                                                        </xsd:all>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                                                <xsd:element name="HistoricalRouteTrend" nillable="false">
                                                    <xsd:annotation>
                                                        <xsd:documentation>Historical route blockage trend</xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:complexType>
                                                        <xsd:all>
                                                            <xsd:element name="SequenceNumber" nillable="false">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>Sequence number of the route trend collection.</xsd:documentation>
                                                                </xsd:annotation>
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:integer">
                                                                        <xsd:minInclusive value="0"/>
                                                                        <xsd:maxInclusive value="99"/>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="Time" nillable="false">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>Time for which this route trend is valid</xsd:documentation>
                                                                </xsd:annotation>
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:string">
                                                                        <xsd:length value="5"/>
                                                                        <xsd:pattern value="(([0-1][0-9])|([2][0-3])):[0-5]([0]|[5])"/>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="StatusTrend" type="ColorType" nillable="false">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>Historical color trend value for TSD display, one of: INVALID, LIGHT_GREEN, DARK_GREEN, YELLOW, RED</xsd:documentation>
                                                                </xsd:annotation>
                                                            </xsd:element>
                                                            <xsd:element name="EchoTopTrend" type="xsd:unsignedByte" nillable="false">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>Historical echo top trend value in thousands of feet</xsd:documentation>
                                                                </xsd:annotation>
                                                            </xsd:element>
                                                        </xsd:all>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                            <xsd:element name="ErrorIndicator" type="ErrorIndicatorType">
                                <xsd:annotation>
                                    <xsd:documentation>Error indicator: RAPT_DATA_NOT_AVAILABLE</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="TrendType">
        <xsd:annotation>
            <xsd:documentation>Route trend enumeration.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="INCOMPLETE"/>
            <xsd:pattern value="STABLE"/>
            <xsd:pattern value="IMPROVE"/>
            <xsd:pattern value="DECLINE"/>
            <xsd:pattern value="NONE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PIGTimerType">
        <xsd:annotation>
            <xsd:documentation>PIG timer value.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="-1"/>
            <xsd:maxInclusive value="600"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ColorType">
        <xsd:annotation>
            <xsd:documentation>Route color enumeration.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="INVALID"/>
            <xsd:pattern value="LIGHT_GREEN"/>
            <xsd:pattern value="DARK_GREEN"/>
            <xsd:pattern value="YELLOW"/>
            <xsd:pattern value="RED"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BlockagePhaseType">
        <xsd:annotation>
            <xsd:documentation>Blockage phase enumeration.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="CLIMB"/>
            <xsd:pattern value="TRANSITION"/>
            <xsd:pattern value="NEAR"/>
            <xsd:pattern value="ENROUTE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ErrorIndicatorType">
        <xsd:annotation>
            <xsd:documentation>Error message.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="RAPT_DATA_NOT_AVAILABLE"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
